:root {
  --dark-gray: rgb(96, 96, 96);
  --ligth-gray: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */

.material-icons,
.material-icons-outlined {
  color: var(--dark-gray);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 15px;
}

.header__icons {
  padding: 0px 7px;
  height: 35px;
  cursor: pointer;
}

.header i {
  padding: 0px 7px;
  cursor: pointer;
}

.header__search form {
  display: flex;
  margin: 0;
  padding: 0;
  height: 35px;
  border: 1px solid;
  color: var(--ligth-gray);
}

.header__search input {
  width: 500px;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.header__search button {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  border-radius: 0;
}
