:root {
  --dark-gray: rgb(96, 96, 96);
  --light-gray: #ddd;
  --just-white: white;
  --almost-white: #f2f2f2;
  --title-color: rgba(3, 3, 3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

hr {
  height: 1px;
  background-color: var(--light-gray);
  border: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

.material-icons,
.material-icons-outlined {
  color: var(--dark-gray);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__left {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header__left img {
  width: 100px;
  margin-left: 15px;
}

.header__icons {
  padding: 0px 7px;
  height: 35px;
  cursor: pointer;
}

.header i {
  padding: 0px 7px;
  cursor: pointer;
}

.header__search {
  width: 80%;
  max-width: 500px;
  min-width: 250px;
}

.header__search form {
  display: flex;
  margin: 0;
  padding: 0;
  height: 35px;
  border: 1px solid;
  color: var(--light-gray);
}

.header__search input {
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.header__search button {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  border-radius: 0;
}

.material-icons--hide {
  display: none;
}

/* main body */
.main-body {
  display: flex;
  height: calc(100vh - 70px);
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 200px;
  height: 100%;
  background-color: var(--just-white);
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__categories {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  text-decoration: none;
  color: var(--dark-gray);
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* Buttons header */
.header-buttons {
  position: fixed;
  top: 50px;
  width: 100%;
  height: auto;
}

.header-buttons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 175px;
  margin-top: 15px;
  width: calc(100% - 175px);
  height: 40px;
  border-top: 1px solid var(--light-gray);
}

.header-buttons a {
  padding: 5px 15px;
  width: auto;
  color: var(--title-color);
  background-color: var(--almost-white);
  border-radius: 15px;
  border-top: 1px solid var(--light-gray);
}

.header-buttons a:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

/* videos section */

.videos {
  padding: 15px 15px;
  margin-top: 40px;
  width: 100%;
  height: auto;

  border-top: 1px solid var(--light-gray);
  background-color: #f9f9f9;
  overflow-y: scroll;
}

.videos::-webkit-scrollbar {
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.video {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  width: 310px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author img {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  display: flex;
  flex-direction: column;
}
.title h3 {
  margin-bottom: 6px;
  color: var(--title-color);
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.title a,
span {
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none;
  color: var(--dark-gray);
}

@media (max-width: 425px) {
  .header__search {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .header__icons .material-icons-outlined,
  .material-icons {
    display: none;
  }

  .header__icons .material-icons--hide,
  .material-icons--show {
    display: inline;
  }
  .show--sidebar {
    position: fixed;
    display: inline;
  }
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .show--sidebar {
    position: fixed;
    display: inline;
  }
}

@media (max-width: 840px) {
  .header__search {
    width: 300px;
  }
}
